@page "/InjectDemo"
@rendermode InteractiveServer
@using BlazorDapp.Services.Services
@inject IMyService MyService


<h3>InjectDemo</h3>

<button @onclick="@(()=> MyService.AddName("Rocket Blur"))"> Add Name </button>
<br />

@foreach(var name in MyService.Names)
{
    @name <br/>
}
@code {

}  
 