@page "/MyButtonDemo"
@rendermode InteractiveServer
<h3>MyButtonDemo</h3>

<h1>Coutre..</h1>

@* onclick paramenter without no @ sign.*@
<MyButton class="btn btn-primary" onClick="IncrementCount">Click me</MyButton>
    @currentCount 

@code {
    private int currentCount = 0;
    
    private void IncrementCount()
    {
        currentCount++;
    }
}
