@page "/MyButtonDemo"
@rendermode InteractiveServer

<h1>Coutre..</h1>

@* onclick paramenter without no @ sign.*@
<MyButton class="btn btn-primary" onClick="IncrementCountAsync">Click me</MyButton>
   <br />Current count: @currentCount 

@code {
    private int currentCount = 0;

    private async Task IncrementCountAsync()
    {
        await Task.Delay(2000);
        currentCount++;
    }
}
