@page "/Mybutton"
<h3>Counter</h3>

<button disabled="@isDisable" @attributes="AdditionalAttributes" @onclick="onButtonClickedAsync">Clicked me</button>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { set; get; }

    [Parameter]
    public EventCallback onClick { get; set; }
    private bool isExecuting = false;
    private bool isDisable => isExecuting;
    // use stateHAsChanged only when you need too

    private async Task onButtonClickedAsync()
    {  
        if (isExecuting)
            return;
        isExecuting = true;

        await InvokeAsync(StateHasChanged);
        await onClick.InvokeAsync();
        isExecuting = false;
    }
}
